*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  src: url("/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf");
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("/fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf");
}

:root {
  --color-blue: #007fff;
  --color-blue-mid: #006ad5;
  --color-blue-dark: #003a75;
  --color-blue-dark-2: #002142;
  --color-blue-light: #d0e7ff;
  --color-blue-light-2: #77b9ff;
  --color-black: #202020;
  --color-black-dark: #000000;
  --color-black-light: #3f3f3f;
  --color-white: #fafafa;
  --color-white-dark: #f5f5f5;
  --color-white-light: #ffffff;
  --color-grey: #d3d3d3;
  --color-grey-dark: #aaaaaa;
  --color-grey-light: #ebebeb;
  --color-yellow: #ffd600;
  --color-pink: #ff005c;
  --color-green: #00e14d;
  --t-color-white: #ffffffcc;
  --t-color-blue: #002142b4;
  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: "PlusJakartaSans-Bold";
  --font-secondary-extra: "PlusJakartaSans-ExtraBold";
  --font-tertiary: "Fira Code", "Courier New", Courier, monospace;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  transition: all 300ms;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: var(--link-text);
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--link-before);
  transform: scaleX(0);
  transition: all 300ms;
}

a:hover::before {
  transform: scaleX(1);
}

a:hover {
  color: var(--link-hover);
}

button {
  background-color: unset;
  border: unset;
  border-radius: 10px;
  border-collapse: collapse;
}

code {
  font-family: var(--font-tertiary);
  font-size: 1rem;
  font-weight: 500;
  color: var(--code);
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5rem;
  color: var(--para);
  font-weight: 500;
}

b,
strong {
  color: var(--body-color);
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
}

h1 {
  margin-bottom: 10px;
}

h2,
h3 {
  margin-bottom: 20px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
}

input,
textarea {
  padding: 10px 15px;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  outline: none;
  background-color: var(--input-bg);
  color: var(--input-color);
}

input:focus,
textarea:focus {
  border-color: var(--input-focus);
}

textarea {
  resize: vertical;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  line-height: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btnLink::before {
  height: 0px;
}

.fadeBottom {
  opacity: 0;
  animation: fadeBottom 1s ease forwards;
  animation-delay: calc(var(--delay) * 80ms);
}

@keyframes fadeBottom {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.sideFadeBottom {
  animation: sideFadeBottom 1s ease forwards;
  animation-delay: calc(var(--delay) * 80ms);
}

@keyframes sideFadeBottom {
  from {
    transform: translate(-20px, -50%);
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size:3rem;
  }
  h3 {
    font-size: 1rem;
  }
}
