.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.intro h1 {
  background: linear-gradient(
    to right,
    var(--linear-bg-end),
    var(--linear-bg-start),
    var(--linear-bg-end)
  );
  animation: colorChange 1000s infinite linear;
  background-clip: text;
  color: transparent;
}

@keyframes colorChange {
  from {
    background-position: 0; 
    background-clip: text;
  }
  to {
    background-position: 100000px;
    background-clip: text;
  }
}

.intro h2 {
  margin-bottom: 0;
}

.intro button {
  margin-top: 10px;
}

.imageContainer {
  width: 100%;
  height: 40vh;
  margin: 0 20px;
  position: relative;
  box-shadow: 1px 1px 0 var(--img-before), 2px 2px 0 var(--img-before),
    3px 3px 0 var(--img-before), 4px 4px 0 var(--img-before),
    5px 5px 0 var(--img-before), 6px 6px 0 var(--img-before),
    7px 7px 0 var(--img-before), 8px 8px 0 var(--img-before),
    9px 9px 0 var(--img-before), 10px 10px 0 var(--img-before),
    11px 11px 0 var(--img-before), 12px 12px 0 var(--img-before),
    13px 13px 0 var(--img-before), 14px 14px 0 var(--img-before),
    15px 15px 0 var(--img-before), 16px 16px 0 var(--img-before),
    17px 17px 0 var(--img-before), 18px 18px 0 var(--img-before),
    19px 19px 0 var(--img-before), 20px 20px 0 var(--img-before); 
  border-radius: 10px;
  transition: all 0.5s;
}

.imageContainer:hover {
  box-shadow: 1px 1px 0 var(--img-before), 2px 2px 0 var(--img-before),
    3px 3px 0 var(--img-before), 4px 4px 0 var(--img-before),
    5px 5px 0 var(--img-before), 6px 6px 0 var(--img-before),
    7px 7px 0 var(--img-before), 8px 8px 0 var(--img-before),
    9px 9px 0 var(--img-before), 10px 10px 0 var(--img-before);
}

.imageContainer span {
  border-radius: 10px;
}

/* .imageContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: var(--img-before);
  border-radius: 20px;
  transition: all 0.4s;
} */

.imageContainer::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--img-after);
  opacity: 0.2;
  position: absolute;
  border-radius: 10px;
  transition: all 0.3s;
}

.imageContainer:hover::after {
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .home {
    flex-direction: column-reverse;
    padding: 100px 0;
    align-items: center;
  }
  .imageContainer {
    margin-bottom: 50px;
    width: 30vw;
    height: 30vh;
  }
}

@media screen and (max-width: 750px) {
  .intro h1 {
    font-size: 5rem;
  }
  .imageContainer {
    width: 40vw;
  }
}

@media screen and (max-width: 500px) {
  .intro h1 {
    font-size: 4rem;
  }
  .imageContainer {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .intro h1 {
    font-size: 3.5rem;
  }
  .imageContainer {
    width: 60vw;
  }
}
